@import "tailwindcss";

@theme {
  --color-primary: #845ec2;
  --color-secondary: #ff6f91;
  --color-tertiary: #296073;
  --color-accent: #008e9b;
  --color-accent-2: #c34a36;
  --color-primary-button: #4B4453;
  --color-invalid: #b0a8b9;
  --color-found: #f9f871;
  --color-correct: #00c9a7;
  --shadow-thick: 5px 5px 1px 1px black;
  --shadow-thin: 2px 2px 1px 1px black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: auto;
}

/* styles.css or a btn.css imported into your app */
.btn-animate {
  @apply  active:translate-x-[2px] active:translate-y-[2px] active:shadow-none transition-all duration-150 ease-in-out;
}
