@import "tailwindcss";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.letter-columns {
  background-color: #44444a;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #ffffff, #ffffff 20px, #44444a 20px, #44444a 100px );
}

.stage {
  position: relative;
}

.scene {
  transition: .5s ease;
}

.scene.move-right,
.scene.move-left {
  position: absolute;
  visibility: hidden;
  user-select: none;
  height:0;
  overflow: hidden;
}
.scene.move-right {
  transform: translateX(-1000%);

}
.scene.move-left {
  transform: translateX(1000%);
}

