@import "tailwindcss";

@theme {
  --color-primary: #845ec2;
  --color-secondary: #ff6f91;
  --color-tertiary: #008f7a;
  --color-accent: #008e9b;
  --color-accent-2: #c34a36;
  --color-invalid: #b0a8b9;
  --color-found: #f9f871;
  --color-correct: #00c9a7;
  --shadow-thick: 5px 5px 1px 1px black;
  --shadow-thin: 2px 2px 1px 1px black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: auto;
}


.stage {
  position: relative;
}

.scene {
  transition: .5s ease;
}

.scene.move-right,
.scene.move-left {
  position: absolute;
  visibility: hidden;
  user-select: none;
  height:0;
  overflow: hidden;
}
.scene.move-right {
  transform: translateX(-1000%);

}
.scene.move-left {
  transform: translateX(1000%);
}

